* {
    font-family: 'Inconsolata', monospace;
}

#navbarNavAltMarkup {
    background-color: white; 
}

.navbar-expand-lg {
    padding: 0;
}

#icone {
    height: 50px;
}

a {
    color: gray;
    text-align: center;
}

.display-3 {
    font-size: 40px;
}

.lead {
    font-size: 20px;
}

.lien {
    text-align: center;
}


.navigation {
    margin: 20px;
}

.form {
    margin: 20px;
}

header {
    display: flex;
    background-image: url(images/06.jpg);
    height: 400px;
    justify-items: flex-start;
    align-items: center;
}

.navigation {
    background-color: white;
    border-radius: 3px;
}

.navbar-nav {
    color: black;
}

.titre {
    color: white;
    font-size: 3em;
}

.lead {
    color: white;
}

#article {
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: solid grey 1px
}